html {
    background: url('bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:100%;

    
    margin:0;
    padding:0;
    caret-color: white;
  }

  body {
    margin:0;
    padding:0;
    color:rgb(254, 255, 255);
    background: rgba(2, 24, 41, 0.35);
    z-index:1;
  }
  * {
  font-family: 'Inter', sans-serif;

}

:root {
  --border-light: rgb(17, 135, 159);
}